body {
  height: 100%;
  width: 100%;
  background-color: #87a683;
}

p {
  color: #3d3530;
  font-family: 'Didact Gothic';
}

/*Text for the header of the page*/
.headerText {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
}

/* Formatting for the daily step circle*/
.paragraphCircle {
  background: #496b45;
  width: 450px;
  height: 450px;
  position: fixed;
  top: 165px;
  left: 140px;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

/* Border for daily step circle */
.circleBorder {
  background: #33543c;
  width: 470px;
  height: 470px;
	z-index: -1;
  position: fixed;
  top: 155px;
  left: 130px;
  border-radius: 50%;
  display: flex;
}

/* Formatting for fact circle*/
.factCircle1 {
  background: #607a5d;
  width: 250px;
  height: 250px;
  position: fixed;
  top: 165px;
  right: 200px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

/* Formatting for fact circle when you hover*/
.factCircle1:hover{
  background: #6a8567;
  width: 270px;
  height: 270px;
  position: fixed;
  top: 165px;
  right: 200px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

/* Formatting for fact circle*/
.factCircle2 {
  background: #607a5d;
  width: 250px;
  height: 250px;
  position: fixed;
  top: 280px;
  right: 490px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

/* Formatting for fact circle when you hover*/
.factCircle2:hover{
  background: #6a8567;
  width: 270px;
  height: 270px;
  position: fixed;
  top: 280px;
  right: 490px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

/* Formatting for fact circle*/
.factCircle3 {
  background: #607a5d;
  width: 250px;
  height: 250px;
  position: fixed;
  top: 500px;
  right: 240px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

/* Formatting for fact circle when you hover*/
.factCircle3:hover{
  background: #6a8567;
  width: 270px;
  height: 270px;
  position: fixed;
  top: 500px;
  right: 240px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

/* Formatting for the image*/
img {
  border-radius: 50%;
  width: 325px;
  height: 325px;
  position: fixed;
  bottom: 130px;
  left: 745px;
}
