body {
  height: 100%;
  width: 100%;
  background-color: #87a683;
}

p {
  color: #3d3530;
  font-family: 'Didact Gothic';
}

/*Text for the header of the page*/
.headerText {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  top: 30px;
  transform: translateX(-50%);
  left: 50%;
}

.paragraphCircle {
  background: #496b45;
  width: 400px;
  height: 400px;
  position: fixed;
  top: 165px;
  left: 140px;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

.factCircle1 {
  background: #607a5d;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 165px;
  right: 210px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

.factCircle2 {
  background: #607a5d;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 280px;
  right: 510px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

.factCircle3 {
  background: #607a5d;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 500px;
  right: 250px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 130px;
  left: 745px;
}

/*Text for the steak count at the bottom of the page*/
.streakText {
  position: fixed;
  bottom: 1px;
  left: 10px;
  font-size: 20px;
  align-items: center;
}

